# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore arquivos compilados Java
*.class

# Ignore pastas de compilação comuns
/bin/
/build/
/out/
/target/
/app/data/Rpg.db
